/* Colors and fonts */
body{
  background:#56a9ef;
  color: #111d5e;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Noto Sans KR', sans-serif;
}
h1 {
  color: #3b6978;
  font-size: 50px;
  font-weight: 900;
}
h2 {
  color: #111d5e;
  font-size: 30px;
  font-weight: lighter;
  font-weight: 500;
  text-decoration: underline;
}
a {
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none;
  color: #6a2c70;
  font-weight: 400;
  font-size: 16px;
}
a:hover {
  color: black;
}
.card-blue{
  background-color: #E4F9FF;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 40px;
  width: 600px;
  margin: 20px auto;
  text-align: center;
}
.btn-blue {
    background-color: #6B72E1;
    color: white;
    padding: 15px 20px;
    border-radius: 4px
}

.list-inline li a {
  font-size: 30px;
}

